.heading {
  text-align: center;
  font-size: 35px;
  color: blueviolet;
}
.intro-paragraph {
  font-size: 22px;
  text-align: left;
}
.intro-image {
  width: 60%;
  height: 33rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.omelet {
  margin-top: 1.5rem;
  width: 45%;
  height: 33rem;
}
.breakfast-classics {
  font-size: 22px;
  text-align: left;
}
.heading-four {
  font-size: 20px;
  color: gray;
  margin-left: 1.5rem;
}
.breakfast-heading {
  text-align: center;
  font-size: 35px;
  color: blueviolet;
}
.baby-spinach {
  margin-left: 1rem;
  color: blue;
  font-size: 1.5rem;
}
.crepes {
  margin-top: 1.5rem;
  width: 45%;
  height: 33rem;
}
.sweet {
  font-size: 20px;
  color: gray;
  margin-left: 1rem;
}
.egg-white {
  color: blue;
  font-size: 1.5rem;
}
.french {
  margin-top: 1.5rem;
  width: 45%;
  height: 33rem;
}
.french-toast {
  font-size: 20px;
  color: gray;
  margin-left: 1rem;
}
.french-toast-one {
  color: blue;
  font-size: 1.5rem;
}
a {
  text-decoration: none;
}
.omelet-description {
  font-size: 22px;
  text-align: left;
}
.omelet-head {
  color: blueviolet;
}
.ingredients {
  font-size: 22px;
}
.order {
  font-size: 22px;
}
.baby {
  margin-top: 1.5rem;
  width: 45%;
  height: 33rem;
}
.steps {
  font-size: 22px;
}
.preparing {
  font-size: 22px;
}
.french-toast-recipe {
  margin-top: 1.5rem;
  width: 45%;
  height: 33rem;
}

.french-toast-description {
  font-size: 22px;
}
.french-toast-paragraph {
  font-size: 22px;
  text-align: left;
}
.french-toast-ingredients {
  font-size: 22px;
}
.french-toast-unordered-list {
  font-size: 22px;
}
.french-toast-steps {
  font-size: 22px;
}
.french-toast-ordered-list {
  font-size: 22px;
}
.basic {
  margin-top: 1.5rem;
  width: 45%;
  height: 33rem;
}
.basic-heading {
  color:blueviolet
}
.crepes-ingredients {
  font-size: 22px;
}