.heading {
  text-align: center;
  font-size: 35px;
  color: blueviolet;
}
.intro-paragraph {
  font-size: 22px;
  text-align: left;
}
.intro-image {
  width: 60%;
  height: 33rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
